#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.truck-panel {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  background-color: #222222B6;
  width: max-content;
  max-width: 75vw;
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: auto;
  padding: 0.5rem 0;
  border-radius: 0.3125rem;
}

.truck-panel_title {
  color: #e4e4e4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.125rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 0.625rem;
}

.truck-panel_list {
  display: block;
  padding: 0;
  margin: 0 1.25rem;
}

.truck-panel_item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.truck-panel_item button {
  white-space: nowrap;
}

.button-color {
  color: #222222 !important;
  background-color: #D7A145 !important;
}

.button-color-disabled {
  color: #222222 !important;
  background-color: #D7A1457B !important;
}

.allowed-cursor,
.not-allowed-cursor {
  display: inline-block;
}

.not-allowed-cursor:hover {
  cursor: not-allowed !important;
}
