<div id="map"></div>
<div *ngIf="truckPositions.features.length > 0" class="truck-panel">
  <span class="truck-panel_title">Trucks En Route</span>
  <div class="truck-panel_list">
    <div *ngFor="let truck of truckPositions.features" class="truck-panel_item">
      <div *ngIf="truck.properties">
        <button
          mat-raised-button
          class="button-color"
          (click)="zoomToTruck(truck.geometry.coordinates)"
        >
          Zoom to Truck {{ truck.properties['id']}}
        </button>
        -
        <button
          *ngIf="followTruckId !== truck.properties['id']"
          mat-raised-button
          class="button-color"
          (click)="followTruck(truck)"
        >
          Follow Truck {{ truck.properties['id'] }}
        </button>
        <button
          *ngIf="followTruckId === truck.properties['id']"
          mat-raised-button
          class="button-color"
          (click)="stopFollowingTruck()"
        >
          Stop Following Truck {{ truck.properties['id'] }}
        </button>
      </div>
    </div>
  </div>
</div>
